/*

$Id: main.css 13991 2008-01-17 06:17:23Z maruitao $

*/



.dis{

  display:block;

}

.inline{

  display:inline;

}

.none{

  display:none;

}



body {

background:#f1f2f7;

  padding: 10px;

  min-width:773px;

}



h1 { border-bottom: 1px solid #ccc; color: #333; font-weight: normal; padding: 7px 10px; margin: 0 0 10px 0; overflow: hidden;}





h1 a:visited {

  color: #333;

}



h1 a:link {

  color: #333;

}



h1 a:hover {

  color: #EB8A3D;

}



h1 span{zoom:1;}



h1 .action-span a { float: right; height: 26px; line-height: 26px; padding: 0 10px 0 23px; background: #1abc9c url(../images/icon_add02.gif) no-repeat 6px center; border-radius: 3px; color: #fff; font-size: 13px; font-weight: normal; text-align: center; cursor:pointer;}



 



h1 .action-span a:hover { text-decoration:none; background-color:#1abc9c;}



h1 .action-span1 {color: #4c4c4c; font-size: 18px; font-weight: normal;}



#footer {

  background: #f3f3f3;

  border: 1px solid #d7d7d7;

  padding: 15px;

  color: #9CACAF;

  margin: 10px 0;

  text-align: center;

}



.main-div {

  background: #f3f3f3;

  border: 1px solid #d7d7d7;

  margin-bottom: 10px;

  padding: 2px;

}



.main-div table {

  background: #FFF;

  width: 99%;

}



.form-div {

  background: #f3f3f3;

  border: 1px solid #d7d7d7;

  padding: 5px;

  color: #808080;

  margin: 0 0 10px 0;

}



.form-div select, .form-div input, .form-div img {

  vertical-align: middle;

}



/*

 列表部分的样式

 */

.list-div {

  width: 100%;

  border: 1px solid #d7d7d7;

}



.list-div-ad {

  border: 0px solid #BBDDE5;

}



.list-div table {

  width: 100%;

  background:#ddd;

}



.list-div th {

  line-height: 39px;

  background: #f3f3f3 url("../images/th_bg.gif") repeat-x;

  white-space: nowrap;

}



.list-div td {

  background: #FFF;

  padding:10px;

}



.list-div td.first-cell{

  font-weight: bold;

  padding-left: 10px;

}



.list-div input {

  vertical-align: middle;

}



.list-div a:visited, .list-div a:link {

  text-decoration:none;

  color: #192E32;

}



.list-div a:hover {

  color: #9D7250;

}



.list-div input, list-div img {

  vertical-align: middle;

}

.list-div input[type='text']{ min-width:inherit; text-align:center;}



.list-div .footer {

  background: #F4FAFB;

  text-align: right;

}



#page-table {

  width: 100%;

}



#page-link {

  margin-left: 1em;

  padding-left: 1em;

  border-left: 1px solid #999;

}



/*

 标签部分的样式

 */

.tab-div {

  background: #f3f3f3;

  border: 1px solid #d7d7d7;

  margin: 0 0 10px 0;

  padding: 1px;

}

#tabbar-div {

  margin-top: 0px;

background: #efefef;

padding-left: 10px;

height: 39px;

}



#tabbar-div p {

  margin: 2px 0 0 0;

}



.tab-front {

 background: #fefefe;

height: 39px;

line-height: 39px;

display: block;

float: left;

padding:0 20px;

text-align: center;

font-weight: bold;

cursor: hand;

cursor: pointer;

color:#192E32;
}



.tab-back {

	padding:0 20px;

text-align: center;

font-size: 13px;

float: left;

display: block;

float: left;

color: #787878;

line-height: 39px;

cursor: hand;

cursor: pointer;

}



.tab-hover {

padding:0 20px;

display: block;

float: left;

text-align: center;

font-size: 13px;

color: #fff;

line-height: 39px;

cursor: hand;

cursor: pointer;

background: #1abc9c;

}



#tabbody-div {

  padding: 10px;

  background: #fefefe;

}



#tabbody-div img {

  vertical-align: middle;

}



.tab-body {

  border: 0px solid #BBDDE5;

  padding: 10px;

}

/*

表单部分

*/

.notice-span {

  color: #666;

}



td.label {

  text-align: right;

  vertical-align: top;

  font-weight: bold;

  padding: 5px 1em;

  width: 30%;

  line-height:30px;

}



td.label_2 {

  text-align: right;

  vertical-align: top;

  font-weight: bold;

  padding: 5px 1em;

}



td.td_1 {

  text-align: right;

  vertical-align: top;

  padding: 5px 1em;

}



td.label_left {

  text-align: left;

  vertical-align: top;

  font-weight: bold;

  padding: 5px 1em;

}



td.narrow-label {

  text-align: right;

  vertical-align: top;

  font-weight: bold;

  padding: 5px 1em;

  width: 20%;

}



td.micro-label {

  text-align: right;

  vertical-align: top;

  font-weight: bold;

  padding: 5px 1em;

  width: 127px;

  *width: 150px;

}



.button-div {

  text-align: center;

  padding: 3px 0;

}



input.button { padding: 5px 15px 5px; margin: 2px 2px; border: none; background: #1abc9c; color: #FFF; cursor: pointer; border-radius:3px;}



input.capital {

  text-transform: uppercase;

}



span.require-field {

  font: 12px verdana;

  color: #FF0000;

}



th.group-title {

  text-align: left;

}





span.link-span {

  color: #999;

  padding-left: 10px;

  margin-left: 15px;

  border-left: 2px solid #999;

  font-weight: normal;

  cursor: pointer;

}



ul.msg-link {

  list-style-type: none;

}



ul.msg-link li {

  background: url(../images/arrow.gif) no-repeat 0px center;

  padding-left:   18px;

  margin-left:  0;

}



option.leafCat {

  color: #008000;

}



li.warning {

  border: 1px solid #CC0000;

  background: #FFFFCC;

  padding: 10px;

  margin-bottom: 5px;

}



#Marquee{ 

  height:20px; 

  overflow:hidden;  

  border: 1px solid #CC0000;

  background: #FFFFCC;

  margin-bottom: 5px;

}

  

#Marquee div{ 

  background: #FFFFCC;

  padding: 10px;

  margin-bottom: 5px;

  }

/*

MSN Messenger

*/

div#popMsg {

  z-index:99999;

  right: 0px;

  bottom: 0px;

  width: 180px;

  border-right: #455690 1px solid;

  border-top: #a6b4cf 1px solid;

  border-left: #a6b4cf 1px solid;

  border-bottom: #455690 1px solid;

  visibility: hidden;

  display: none;

  position: fixed;

  background-color: #c9d3f3;

  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=.65);

  opacity: 0.65;

}



* html div#popMsg {

  position:absolute;

}



#popMsgContent {

  border-top: #728eb8 1px solid;

  border-right: #b9c9ef 1px solid;

  border-bottom: #b9c9ef 1px solid;

  border-left: #728eb8 1px solid;

  padding: 5px 10px;

  color: #1f336b;

}



#topbar{

  position:absolute;

  border-right: #455690 1px solid;

  border-top: #a6b4cf 1px solid;

  border-left: #a6b4cf 1px solid;

  border-bottom: #455690 1px solid;

  background-color: #c9d3f3;

  width: 300px;

  visibility: hidden;

  z-index: 99999;

  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=.95);

  opacity: 0.95;

}



.no-records {

  color: #666;

  text-align:center;

  padding: 10px;

}





#loader {

  background-color: #FFFFCC;

  border: 1px solid #CC0000;

  position: fixed;

  color: #CC0000;

  z-index: 1000;

  left: 0px;

  bottom: 0px;

  padding: 5px 15px;

  text-align: center;



  /*display: none;*/

  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=.65);

  opacity: 0.65;

}



* html #loader {

  position: absolute;

}



.todolist-box {

  position:absolute;

  z-index:99999;

  width:300px;

  top:0px;

  left:0px;

  border: 1px solid #C9C9D7;

  padding: 1px;

  background:#FFFFFF;

}



.todolist-box .container {

  border:1px solid #E4E5ED;

  border-bottom-color:#EAEDF5;

  position:relative;

}



.todolist-box .head {

  line-height: 23px;

  color: #fff;

  font-size: 12px;

  background: #D8D9DF url(../images/icon_title.gif) no-repeat 10px center;

  height: 23px;

  padding-left: 28px;

  margin: 0;

  border-top: 3px solid #E4E5ED;

  border-bottom: 1px solid #EAEDF5;

}



.todolist-box .middle {



}



.todolist-box .buttons {

  float:right;

  margin-top: -21px;

}



.todolist-box .buttons img {

  margin-right:2px;

  cursor:auto;

}





.todolist-box .bottomLeft  {

  text-align: right;

  font-size: 12px;

  border: 1px solid #CCCBD9;

  border-top: 0;

  background: #DCDDE3;

  height: 22px;

  vertical-align: middle;

  padding-top:3px;

  padding-right:20px;

}



.todolist-box label

{

  margin-bottom:2px;

}



.todolist-box .bottomLeft  input

{

  vertical-align: middle;

  margin-bottom:2px;

}



.todolist-box .bottomRight {

  margin: 0;

  margin-right:-2px;

  margin-bottom:-2px;

  position: absolute;

  right: 3px;

  bottom: 3px;

  width: 14px;

  height: 14px;

  background:url(../images/btn_drop.gif) no-repeat center;

}



.todolist-box .button

{

  border:#fff 1px solid;

  border-bottom:#94949C 1px solid;

  border-right:#94949C 1px solid;

  background:#B8B7C8;

  color:#fff;

  width:40px;

}



.virtualBox

{

  position:absolute;

  overflow:hidden;

  z-index:999999;

  width:300px;

  top:0px;

  left:0px;

  border: #a6b4cf 3px solid;

}



#ColorSelectertBox

{

  border-top:#EAF0FF 1px solid;

  border-left:#EAF0FF 1px solid;

  border-right:#9DADCE 1px solid;

  border-bottom:#9DADCE 1px solid;

  position:absolute;

  z-index:1;

  top:1px;

  left:1px;

  background-color:#FFFFFF;

}



/* setting */

.step1, .step2, .step3{

  padding:20px 20px 20px 80px;

  color:#6CA1B4;

  font-size:28px;

  font-weight:700;

}



.step1 {

  background:#FFF url(../images/stepnum.gif) no-repeat 20px 20px;

  *background:#FFF url(../images/stepnum.gif) no-repeat 20px 17px;

}



.step2 {

  background:#FFF url(../images/stepnum.gif) no-repeat 20px -80px;

  *background:#FFF url(../images/stepnum.gif) no-repeat 20px -83px;

}



.step3 {

  background:#FFF url(../images/stepnum.gif) no-repeat 20px -180px;

  *background:#FFF url(../images/stepnum.gif) no-repeat 20px -183px;

}



.step1 em, .step2 em, .step3 em{

  display:block;

  padding-left:3px;

  font-weight:400;

  font-style:normal;

  font-size:12px;

  color:#999;

}



.shortcut{

  background:#FFF;

}



.shortcut ul{

  list-style:none;

  margin:0 0 0 85px;

  padding:0;

  width:370px;

  overflow:hidden;

}



.shortcut li{

  float:left;

  margin:0 20px 15px 0;

  width:100px;

  font-size:14px;

  text-align:center;

}



.shortcut li a{

  display:block;

  padding:2px 5px;

  *padding:3px 5px 1px;

  border:1px solid #278296;

  background:#F2F9FA;

}



.shortcut li a:hover{

  border:1px solid #5FA6B6;

  background:#FFF;

  color:#666;

  text-decoration:none;

}



a.special:link, a.special:visited{

  margin:0 5px;

  padding:1px 5px;

  *padding:2px 5px 0;

  border:1px solid #DCDCDC;

  background:#fff;

  text-decoration:none;

  font-weight:400;

}



a.special:hover{

  color:#666;

}



a.special:active{

  margin:1px 5px 0 6px;

  border:1px solid #5FA6B6;

  background:#F2F9FA;

  color:#666;

  outline:none;

}



.order-goods{

  position:absolute;

  width:80%;

  background: #EEF8F9;

  border: 1px solid #BBDDE5;

  /*

  filter:alpha(opacity=90);

  opacity:0.9;

  */

}

.order-goods td {

  background: #FFF;

  line-height: 22px;

}

/* 文件校验 */

.infobox {

  background:#f3f3f3  none repeat scroll 0 0;

  border:4px solid #d7d7d7;

  clear:both;

  margin:60px 30px;

  padding:20px;

  text-align:center;

}

.normal {

  font-weight:400;font-size:12px;

}

.marginbot {

  margin-bottom:10px;

}

.nobdb {

  border-bottom:medium none;

}

.btn {

  background:#DDDDDD none repeat scroll 0 0;

  border-color:#DDDDDD #666666 #666666 #DDDDDD;

  color:#000000;

  cursor:pointer;

  margin:3px 0;

  padding:2px 5px;

  vertical-align:middle;

}

.infotitle1{

  margin-bottom:10px;

  color:#09C;

  font-size:14px;

  font-weight:700;

}

em, cite, th {

  font-style:normal;

  font-weight:normal;

}

.left {

  float:left;

}

.lightfont {

  color:#CCCCCC;

}

.left .cfolder, .left .ofolder{

  display:block;

  padding-left:50px;

  line-height:30px;

  background:url(../images/filecheck.gif) no-repeat -260px -50px;

  font-weight:700;

  font-size:14px;

  color:#2366A8;

}

.left .ofolder{

  background:url(../images/filecheck.gif) no-repeat -260px -100px;

  color:#2366A8;

  font-size:14px;

}

.filenum{

  margin:8px 0 0 20px;

}

.files{

  padding:1px 0 1px 50px;

  background:url(../images/filecheck.gif) no-repeat -260px -150px;

}

.del{

  padding-left:18px;

  background:url(../images/filecheck.gif) no-repeat 0 -285px;

  *background:url(../images/filecheck.gif) no-repeat 0 -286px;

  color:#E8594D;

}

.edited{

  padding-left:18px;

  background:url(../images/filecheck.gif) no-repeat -100px -385px;

  *background:url(../images/filecheck.gif) no-repeat -100px -386px;

  color:#E8594D;

}

.unknown{

  padding-left:18px;

  background:url(../images/filecheck.gif) no-repeat -50px -435px;

  *background:url(../images/filecheck.gif) no-repeat -50px -436px;

  color:#6189B8;

}

.correct{

  padding-left:18px;

  background:url(../images/filecheck.gif) no-repeat 0 -485px;

  *background:url(../images/filecheck.gif) no-repeat 0 -486px;

  color:#70B759;

}

.tb2 th, .tb2 td {

  background:transparent url(../images/bg_repx.gif) repeat-x scroll 0 bottom;

  padding:5px 5px 5px 0;

  text-align:left;

}

.tb2 th {

  line-height:21px;

  font-weight:bold;

}

.bold {

  font-weight:700;

}

/* 模板管理 */

#messageATX {

  position:absolute;

  z-index:100;

  display:none;

}

#messageATX .bgtable{

  width:40px;

  height:120px;

  border:solid 1px #000000;

  background:#FFFFE1;

}

#messageATX .colortable{

  height:20px;

  border:solid 1px #FFFFFF;

  cursor:pointer;

}



#CurrTplStyleList{

  margin-top:8px;

}







/*

 标签部分的样式

 */

.custab-div {

  background: #EEF8F9;

  border: 1px solid #BBDDE5;

  margin: 0 0 10px 0;

  padding: 1px;

}

#custabbar-div {

  background: #80BDCB;

  padding-left: 10px;

  height: 22px;

  overflow : hidden;

}



#custabbar-div p {

  margin: 2px 0 0 0;

}



.custab-front {

  background: #BBDDE5;

  line-height: 20px;

  font-weight: bold;

  padding: 4px 15px 4px 18px;

  border-right: 2px solid #278296;

  cursor: hand;

  cursor: pointer;

  margin: -5px -5px -5px -3px;

}



.custab-back {

  color: #FFF;

  line-height: 20px;

  padding: 4px 15px 4px 18px;

  border-right: 1px solid #FFF;

  cursor: hand;

  cursor: pointer;

}



.custab-hover {

  color: #FFF;

  background: #94C9D3;

  line-height: 20px;

  padding: 4px 15px 4px 18px;

  border-right: 1px solid #FFF;

  cursor: hand;

  cursor: pointer;

}



#custabbody-div {

  border: 2px solid #BBDDE5;

  padding: 10px;

  background: #FFF;

}



#custabbody-div img {

  vertical-align: middle;

}



.custab-body {

  border: 0px solid #BBDDE5;

  padding: 10px;

}



.cloud_close{ position:relative; padding:0 10px 10px; border-bottom:1px solid #333; margin-bottom: 10px;position:relative; font-size:14px; font-family:"微软雅黑"}

.cloud_close a{}

.cloud_close img{ position:absolute; right:10px; top:8px; border:none}

.Start315{border: 1px solid #CC0000; background: #ffffcc; padding: 10px; margin-bottom: 5px;}

ul,li{ list-style:none;}

.list-div{ border:0;}

.list-div .important{ width:100%;}

.list-div .important ul{ overflow:hidden; padding:0; margin:0;}

.list-div .important li{ float:left; margin:1.5% 1%; width:23.5%; height:122px; min-width:187px;border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;}

.list-div .important li .con_box{ padding:30px 40px; position:relative;}

.list-div .important li .con_box img{ position:absolute; top:30px; left:30px;}

.list-div .important li .con_box h2,.list-div .important li .con_box p{ margin:0; padding:0; text-align:right;}

.list-div .important li .con_box h2{ font-size:14px; font-weight:100; font-family:"微软雅黑"; color:#fff; padding:7px 0 5px;}

.list-div .important li .con_box p{ font-size:24px; font-weight:700; color:#fff}

.list-div .important li.item01{ background:#e36159; margin-left: 0;}

.list-div .important li.item02{ background:#3598db;}

.list-div .important li.item03{ background:#7266ba;}

.list-div .important li.item04{ background:#2baab1; margin-right:0;}

.list-div .console_detaile{ margin-top:10px;}

.list-div .console_detaile ul{ overflow:hidden; margin:-15px 0 0 0; padding:0;}

.list-div .console_detaile li{ width:13.42%; margin:1% 0 1% 1%; background:#fff; min-width:156px; display:inline-block; vertical-align:top; *display:inline; *zoom:1; height:72px; -webkit-transition:ease-in-out .5s; -moz-transition:ease-in-out .5s; -o-transition:ease-in-out .5s; transition:ease-in-out .5s;}

.list-div .console_detaile li.item01 {margin-left: 0;}

.list-div .console_detaile li .con_box{ border:1px solid #d4d4d4; border-radius:3px; height:70px;}

.list-div .console_detaile li .img{ float:left; width:60px; text-align:center; height:60px; border-right:1px solid #e2e2e2;}

.list-div .console_detaile li .img img{ width:30px; height:auto; margin-top:26%;}

.list-div .console_detaile li .text{ padding:15px 0 0 15px; float:left;}

.list-div .console_detaile li .text h2,.list-div .console_detaile li .text p{ margin:0;}

.list-div .console_detaile li .text h2{ font-size:12px; font-weight:100; font-family:"微软雅黑"; color:#6a6a6a;}

.list-div .console_detaile li .text p{ font-size:24px; font-weight:700;text-align: center;}

.list-div .console_detaile li .text p a:hover{ color:#ff3f3f;}

.order_count{ border:1px solid #d4d4d4; background:#fff; margin-top:15px; padding:30px 80px 0; -webkit-transition:ease-in-out .5s; -moz-transition:ease-in-out .5s; -o-transition:ease-in-out .5s; transition:ease-in-out .5s;}

.goods_info input[type='text'],.goods_info select{ margin:5px 0;}

.goods_info .input02{ min-width:inherit;}

@media screen and (min-width:1023px) and (max-width:1199px){

	.list-div .console_detaile li{ width:15.83%;}

	.list-div .console_detaile li.item07 {margin-left: 0;}

	.order_count{ padding:30px 30px 0;}

}

@media screen and (min-width:850px) and (max-width:1022px){

	.list-div .console_detaile li{ width:19%;}

	.list-div .console_detaile li.item06{ margin-left:0;}

	.order_count{ padding:30px 30px 0;}

}

@media screen and (max-width:849px){

	.list-div .console_detaile li{ width:24%;}

	.list-div .console_detaile li.item05{ margin-left:0;}

	.order_count{ padding:30px 30px 0;}

}



.login_box{

	position:relative

	;width:100%;

	height:100%;

	}

.login_logo{

   padding: 25px 0;

   text-align: center;

   font-weight: 600;

   font-size: 2em;

   color: #fff;

   background: #1abc9c;

	border-top-left-radius: 10px;

	-webkit-border-top-left-radius: 10px;

	-moz-border-top-left-radius: 10px;

	-o-border-top-left-radius: 10px;

	border-top-right-radius: 10px;

	-webkit-border-top-right-radius: 10px;

	-moz-border-top-right-radius: 10px;

	-o-border-top-right-radius: 10px}

.login_con{

	background: #ededed;

	width: 32%;

	margin: 3.5% auto 0 auto;

	text-align: center;

	border-radius: 15px;

	-webkit-border-radius: 15px;

	-moz-border-radius: 15px;

	-o-border-radius: 15px;

	box-shadow: 5px 2px 20px rgba(0,0,0,.3);

	overflow: hidden;

	}

.login_c{}

.login_input,input.login_input[type='text']{

	border:1px solid #b1acaa; 

	background:rgba(255,255,255,0.3) !important; 

	filter: Alpha(opacity=30); 

	background:#fff; 

	border:1px solid #afa7a6; 

	width:284px; 

	height:32px; 

	line-height:18px; 

	height:18px; 

	margin:0; 

	outline:0; 

	padding:8px 0 8px 34px; 

	color:#333; 

	font-family:Microsoft Yahei,'微软雅黑';

	}

.login_c .label{

	position:relative; 

	display:block;

	}

.login_c .label i{

	position:absolute; 

	top:11px; 

	left:13px;

	}

.login_c .button{

	background:#1abc9c; 

	padding:10px 45px; 

	color:#fff;

	font-size: 20px; 

	text-align:center;

	border:0; 

	outline:0; 

	margin:0;

	}

.jizhu_label{

	position:relative; 

	float:left; 

	color:#7a7a7a; 

	line-height:19px; 

	font-family:Microsoft Yahei,'微软雅黑'; 

	overflow:hidden;

	}

.jizhu_label input[type="checkbox"] {

    float: left;

    width: 15px;

    height: 15px;

    margin: 2px 8px 0 0;

    }

.jizhu_label label{

	float:left; 

	line-height:19px;

	}

.gb_version{ 

    position:absolute; 

    top:1px; 

	right:1px; 

    width:120px; 

    height:34px;

}

.img-circle {

border-radius: 50%;

}

.link-forget {

    float: left;

    margin-left: 25px;

    }

.link-home {

    float: right;

    display: inline-block;

    text-align: right;

    }

	.cl-link-blue {

     color: #41A5E1 !important;

     }

